.about-container {
    padding: 2rem;
    background-color: transparent;
    margin-top: 2rem;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
    align-items: center;
  }
  
  .about-image img {
    width: 320px;
    height: 320px;
    max-width: 400px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 10px white;
  }
  
  .about-text {
    flex: 1;
    min-width: 300px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
  }
  
  .about-text h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: black;
    text-decoration: underline;
  }
  
  .about-text p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: black;
    font-weight: bold;
  }
  .lickandlove{
    font-size: 1.8rem;
    color: beige;
    text-shadow: 5px 5px 5px #824711;
  }