.checkout {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

h4 {
  margin-top: 20px;
  font-size: 1.2rem;
}
td {
  color: white;
}
h2,
h3,
p {
  color: white;
}
